body {
      background-color: #CDC6C3; width: device-width;
      border: thick solid #a38f85;
      padding: 50px;
      margin: 20px;
      }
    

h1 {
    color: black;
    font-family: Georgia;
    font-size: 36px; 
    text-align: center;
}

h2 {
    color: darkblue;
    font-family: verdana;
    font-size: 24px; 
}

h3 {
    color: #D4B2A7;
    font-family: Courier New;
    font-size: 18px; 
}

p {
    color: white;
    font-family: arial;
    font-size: 12pt;
    border: 2px solid blueviolet; 
    margin: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
    color: purple;
}

a:active {
    background-color: tan;
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.img-me {
    width: 200px;
    height: 200px;
}

.menu ul{
    list-style-type: none;
    background-color: beige;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:inline;
    text-align: center;
}
.menu li{
    float: left;
}

